/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  /* Prevent padding adding to the width of the box */
  box-sizing: border-box;
}

/* Main Styling */

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.7em;
}

/* Links remove */

a {
  color: #333;
  text-decoration: none;
}

/* Remove bullet points if any */
li {
  list-style: none;
}

/* Header padding */

h1,
h2,
h3 {
  padding-bottom: 20px;
}

/* Set margins */
p {
  margin: 10px 0;
}

/* Utility Classes container text-primary lead btn*/

.container {
  margin: auto;
  max-width: 1320px;
  overflow: auto;
  padding: 0 20px;
}

.text-primary {
  color: #f7c08a;
}

.lead {
  font-size: 20px;
}

.btn {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background: #333;
  padding: 13px 20px;
  /* Buttons by default have border Links by default do NOT have borders */
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: #f7c08a;
  color: #333;
  font-weight: bold;
}

.btn-light {
  background: #f4f4f4;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

.bg-primary {
  background: #f7c08a;
  color: #333;
}

.clr {
  clear: both;
}

/* Heading */
.l-heading {
  font-size: 40px;
  line-height: 1.6em;
}

/* Padding */
.pad-y1 {padding: 10px 0;}
.pad-y2 {padding: 20px 0;}
.pad-y3 {padding: 30px 0;}

.pad-x1 {padding: 0 10px;}
.pad-x2 {padding: 0 20px;}
.pad-x3 {padding: 0 30px;}

#navbar {
  background: #333;
  color: #fff;
  overflow: auto;
}

#navbar a {
  color: #fff;
}

#navbar h1 {
  /* Align text or box to the left side */
  float: left;
  font-weight: bold;
  padding-top: 20px;
}

#navbar ul {
  /* Align text or box to the right side */
  float: right;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a:current {
  color: aquamarine;
  font-weight: bold;
  background: #8b0b0b;
}

/* Showcase */

#showcase {
  background-image: url('/ModernHTML_CSS/Hotel_Website/img/showcase.jpg');
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
}

#showcase .showcase-content {
  color: #fff;
  text-align: center;
  padding-top: 170px;
}

#showcase .showcase-content h1 {
  font-size: 60px;
  line-height: 1.2em;
  padding-bottom: 20px;
}

#showcase .showcase-content p {
  padding-bottom: 20px;
  line-height: 1.2em;
}

/* Home Info */

#home-info {
  height: 400px;
}

#home-info .info-img {
  float: left;
  width: 50%;
  background: url('../img/photo-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* Min height 100% make sures the image takes up the whole space */
  min-height: 100%;
}

#home-info .info-content {
  float: right;
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 50px 30px;
  /* If it overflows Scroll bars will not appear */
  overflow: hidden;
}

#home-info .info-content p {
  padding-bottom: 30px;
}

/* Features */

.box {
  float: left;
  width: 33%;
  padding: 40px 20px;
  text-align: center;
}

/* Add margin to bottom of icons */

.box i {
  margin-bottom: 10px;
}

/* About Info */

#about-info .info-right {
  float: right;
  width: 50%;
  min-height: 100%;
}

#about-info .info-right img {
  display: block;
  margin: auto;
  width: 70%;
  border-radius: 50%;
}

#about-info .info-left {
  /* float: right; */
  float: left;
  width: 50%;
  min-height: 100%;
}

#testimonials {
  height: 700px;
  background-image: url(../img/test-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  border-radius: 5px;
}

#testimonials h2 {
  color: #fff;
  text-align: center;
  padding-bottom: 40px;
}

#testimonials .testimonial {
  display: inline-block;
  padding: 20px;
  margin-bottom: 40px;
  opacity: 0.8;
}

#testimonials .testimonial img {
  float: left;
  width: 100px;
  margin-top: 10px;
  margin-right: 20px;
  border-radius: 50%;
}

#testimonials .testimonial p {
  line-height: 1.3em;
}

/* Contact Form */
#contact-form .form-group {
  margin-bottom: 20px;
  /* margin-left: 60px; */
}

#contact-form label {
  display: block;
  margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea {
  width: 90%;
  padding: 10px;
  border: 1px #ddd solid;
}

#contact-form textarea {
height: 200px;
}

/* When input has Focus then change the border color */

#contact-form input:focus,
#contact-form textarea:focus {
  /* turn off outline hightight */
  outline: none;
  border: #f7c08a solid 2px;
}

/* Footer */
#main-footer {
  text-align: center;
  background: #444;
  color: #fff;
  padding: 20px;
}

/* Testimonials */

