@import url('https://fonts.googleapis.com/css?family=Dosis|Montserrat|Roboto|Staatliches');
// Variables
$width-website: 1280px;
$image-bg: url('../Img/showcase.jpg');

// Colors
$color-main: #ffbc00;
$color-primary: steelblue;
$color-secondary: skyblue;
$color-light: #f4f4f4;
$color-medium: #ccc;
$color-textWhite: #fff;
$color-dark: #333;

// Fonts
$font-stack: Arial,
Helvetica,
sans-serif;
$font-Robo:'Roboto',
sans-serif;
$font-Staat:'Staatliches',
sans-serif;
$font-Dosis:'Dosis',
sans-serif;