@import 'config';
@import 'functions';
@import 'utilities';



// General Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: $font-Dosis;
  line-height: 1.6;
  background: $color-textWhite;
}

a {
  color: $color-dark;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

// Logo
#logo {
  width: 70px;
  height: 70px;
  color: $color-textWhite;
  text-transform: uppercase;

}

// Main Nav
#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;

  ul {
    display: flex;
  }

  li {
    padding: 1rem 1.5rem;
  }

  a {
    text-decoration: none;
    color: $color-textWhite;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;

    &:hover {
      border-color: $color-medium;
    }

    &.current {
      border-color: $color-main;
    }
  }
}

// Header
#header {

  // Header home
  &-home {
    background: $image-bg;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: $color-textWhite;

    // Header Content
    .header-container {
      text-align: center;
      padding-top: 20%;
    }

    h1 {
      font-size: 4rem;
      line-height: 1.4;
    }
  }

  // Header Inner
  &-inner {}
}