
@import 'config';
@import 'functions';



// General Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: $Dosis;
  line-height: 1.6;
  background: $color-textWhite;
}

a {
  color: $color-dark;
}

ul {
  list-style: none;
}

h2, h3, h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}
