@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

/* li {
  list-style: none;
} */

a {
  text-decoration: none;
}

p {
  margin: 0.75rem 0;
}

/* Utility Classes */

.text-primary {
  color: #93cb52;
}

.l-heading {
  font-size: 3rem;
  margin-bottom: 0.75rem;
  line-height: 1.1rem;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.btn {
  display: inline-block;
  color: #fff;
  background: #93cb52;
  padding: 10px;
  border: none;
  border-radius: 10px;
}

.btn:hover {
  color: #333;
  font-weight: bolder;
  font-size: 1.5rem;
  background: #cb525c;
  padding: 15px;
}

/* Utility Color Class */
.btn-dark {
  background: #333;
  color: #fff;
}

/* Navbar */

#navbar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background: #333;
  color: #fff;
  z-index: 1;
  padding: 1rem;
}

#navbar ul {
  display: flex;
  /* align-items: center; */
  align-items: center;
  list-style: none;
}

#navbar ul li a {
  color: #fff;
  /* Area between list items */
  padding: 0.75rem;
  /* Margin left and right*/
  margin: 0 0.25rem;
}

#navbar ul li a:hover {
  background: #9ec078;
  color: rgb(119, 27, 27);
  font-weight: bolder;
  border-radius: 10px;
}

/* Showcase */

#showcase {
  /* With out VH The image only covers the content */
  height: 100vh;
  color: #fff;
  background: #333 url('../img/showcase.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#showcase .showcase-content {
  display: flex;
  /* is 100% height of the container */
  height: 100%;
  /* Align Items vertical */
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  /* Overlay */
  /* position: absolute; */
  /* Start below the Navbar for the overlay */
  top: 60px;
  left: 0;
  background: rgba(0,0,0,0.4);
}

