@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

/* li {
  list-style: none;
} */

a {
  text-decoration: none;
}

p {
  margin: 0.75rem 0;
}

/* Utility Classes */

.text-primary {
  color: #93cb52;
}

.text-center {
  text-align: center;
}

.l-heading {
  font-size: 3rem;
  margin-bottom: 0.75rem;
  line-height: 1.1rem;
}

.m-heading {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  line-height: 2.2rem;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.pad-y1 { padding: 1.5rem 0;}
.pad-y2 { padding: 2rem 0;}
.pad-y3 { padding: 3rem 0;}

.pad-1 {
  padding: 1.5rem;
}

.pad-2 {
  padding: 2rem;
}

.pad-3 {
  padding: 3rem;
}


.btn-dark {
  background: #333;
  color: #fff;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.list {
  margin: 0.5rem 0;
  list-style: none;
}

.list li {
  padding: 0.5rem;
  border: #444 dotted 1px;
}

.list li a {
  padding-left: 0.8rem;
}

/* Navbar */

#navbar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background: #333;
  color: #fff;
  z-index: 1;
  padding: 1rem;
}

#navbar ul {
  display: flex;
  /* align-items: center; */
  align-items: center;
  list-style: none;
}

#navbar ul li a {
  color: #fff;
  /* Area between list items */
  padding: 0.75rem;
  /* Margin left and right*/
  margin: 0 0.25rem;
}

#navbar ul li a:hover {
  background: #9ec078;
  color: rgb(119, 27, 27);
  font-weight: bolder;
  border-radius: 10px;
}

/* Showcase */

#showcase {
  /* With out VH The image only covers the content */
  height: 100vh;
  color: #fff;
  background: #333 url('../img/showcase.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#showcase .showcase-content {
  display: flex;
  /* is 100% height of the container */
  height: 100%;
  /* Align Items vertical */
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  /* Overlay */
  /* position: absolute; */
  /* Start below the Navbar for the overlay */
  top: 60px;
  left: 0;
  background: rgba(0,0,0,0.4);
}

.btn {
  display: inline-block;
  color: #fff;
  background: #93cb52;
  padding: 10px;
  border: none;
  border-radius: 10px;
}

.btn:hover {
  color: #333;
  font-weight: bolder;
  font-size: 1.5rem;
  background: #cb525c;
  padding: 15px;
}


/* Section what we do */
#what .items {
  display: flex;
  padding: 1rem;
}

#what .items .item {
  flex: 1;
  text-align: center;
  padding: 0 1rem;
}

/* Target Icon */
#what .items .item i {
  background: #93cb52;
  padding: 1rem;
  border-radius: 50%;
}

/* Section: Who we are */
#who {
  display: flex;
}

/* Split the section in half by having the img div and who-text div each have a flex box */
#who div {
  flex: 1;
}

#who .who-img {
  background-image: url('../img/people.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

#who .who-text h3{
  margin-bottom: 0.8rem;
}

/* Clients */

#clients .items {
  display: flex;
}

#clients .items img {
  display: block;
  margin: auto;
  width: 60%;
}


