:root{
  --primary-color: coral;
  --secondary-color: chocolate;
  --background-light: #f4f4f4;
  --background-offWhite: #e7e7e7;
  --background-offWhite2:#e0e0e0;
  --TextLight-color: #fff;
  --TextDark-color: #333;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html,
body {
  background: var(--background-light);
  font-family: Arial, Helvetica, sans-serif;
}

#navbar ul li {
  color: var(--TextDark-color);
  /* Position in a line */
  display: inline-block;
  padding: 1rem;
  position: relative;
}

#navbar ul li a {
  color: var(--TextDark-color);

}

/* Hide nested UL */
#navbar ul li ul {
  display: none;
}

/* Cursor over navbar */
#navbar ul li:hover {
  cursor: pointer;
  background: var(--primary-color);
  color: var(--TextLight-color);
}

#navbar ul li:hover a {
  color: var(--TextLight-color);
}

/* Nested ULto show */
#navbar ul li:hover ul {
  display: block;
  /* Stop blinking */
  position: absolute;
  left: 0;
  width: 200px;
  margin-top: 1rem;
}

#navbar ul li:hover ul li {
  display: block;
  background: var(--background-offWhite);
}

#navbar ul li:hover ul li a {
  color: var(--TextDark-color);
}

#navbar ul li:hover ul li:hover {
  background: var(--Background-OffWhite2);
  color: inherit;
}

#navbar ul li:hover ul li span {
  float: right;
  color: var(--TextLight-color);
  background: var(--primary-color);
  padding: 0.2rem 0.5rem;
  text-align: center;
  font-size: 0.8rem;
  border-radius: 5px;
}

#navbar ul li:hover ul li:hover span {
  background: var(--secondary-color);
}

#showcase {
  display: flex;
  flex-direction: column;
  height: 300px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 2rem;
  background: var(--primary-color);
}

#showcase h1 {
  color: var(--TextLight-color);
  font-size: 4rem;
}