:root {
  --primary-color: #485b84;
  --secondary-color: #5b7bb4;
  --WhiteText-color: #fff;
  --maxwidth: 1100px;
  --Dot-position: 0;
  --ArrowLeft-position: -15px;
  --ArrowRight-position: -15px;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font: normal 0.9rem/1.3 'Arial' ,sans-serif;
  background: var(--primary-color);
  color: var(--WhiteText-color);
  /* Vertical Only Scroll bars */
  overflow-x: hidden;
  padding-bottom: 50px;
}

#main-header {
  background: var(--secondary-color);
  padding: 4rem 0;
}

.container {
  max-width: var(--maxwidth);
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 2.3rem;
}

#timeline ul {
  background: var(--primary-color);
  padding: 50px 0;
}


/* Create Line */
#timeline ul li {
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: var(--WhiteText-color);
}

/* Boxes */
#timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 1rem;
  background: var(--secondary-color);
  transition: all 0.5 ease-in-out;
}

/* Right Side */
#timeline ul li:nth-child(odd) div {
  left: 40px;
}

/* Left Side */
#timeline ul li:nth-child(even) div {
  left: -434px;
}

/* Dots */
#timeline ul li:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 25px;
  height: 25px;
  background: var(--secondary-color);
  transform: translateX(-50%);
  border-radius: 50%;
  transition: background 0.5sec ease-in-out;
}

/* Arrows base */
#timeline div:before {
  content: '';
  position: absolute;
  /* Set the arrows location */
  bottom: 5px;
  width: 0;
  height: 0;
  border-style: solid;
}

/* Create Right side Arrows */
#timeline ul li:nth-child(odd) div::before {
  left: var(--ArrowRight-position);
  border-width: 8px 16px 8px 0;
  /* Change shape to an arrow */
  border-color: transparent var(--secondary-color) transparent transparent;
}

/* Create Left side Arrows */
#timeline ul li:nth-child(even) div::before {
  right: var(--ArrowLeft-position);
  border-width: 8px 0 8px 16px;
  /* Change shape to an arrow */
  border-color: transparent transparent transparent var(--secondary-color);
}


/* @media(max-width: 900px) {

  #timeline ul li div {
    width: 240px;
  }

  #timeline ul li:nth-child(even) div {
    left: -284px;

  }
}

@media(max-width: 600px) {

  #timeline ul li {
    margin-left: 20px;
  }
} */